@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Definir variables globales*/
:root {
    --main-color: #16C47F;
    --main-color-light: #59fcbb;
    --yellow-color: #FFD65A;
    --orange-color: #FF9D23;
    --red-color: #F93827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

/*Normalizar elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*Quitanos subrayado por defecto*/
a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--main-color);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.menu-button {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: .85rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: .8rem;
    width: 100%;
}

.menu-button.active {
    background-color: white;
    color: var(--orange-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.menu-button.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color:transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
}
.menu-button.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color:transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 white;
}

.footer-text {
    color: var(--main-color-light);
    font-size: .85rem;
}

.cart-button {
    margin-top: 2rem;
}

.number {
    background-color: white;
    color: var(--main-color);
    padding:.15rem .25rem;
    border-radius: .25rem;
}

.cart-button.active .number {
    background-color: var(--main-color);
    color: white;
}
main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

}

.main-title {
    color: var(--main-color);
    margin-bottom: 2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-image {
    width: 100%;
    height: 200px; 
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 1rem;
}

.product-details {
    background-color: var(--main-color);
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.product-title {
    font-size: 1rem;

}

.add-product {
    border: 0;
    background-color: var(--main-color-light);
    color: var(--main-color);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--main-color-light);
    transition: background-color .2s, color .2s;
}

.add-product:hover {
    background-color: var(--main-color);
    color: var(--orange-color);
}

/* Cart */

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.purchase-cart,
.empty-cart {
    color: var(--main-color);
    
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(214, 204, 204, 0.196);
    color: var(--main-color);
    padding: .5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.cart-product-image {
    width: 4rem;
    border-radius: 1rem;
}

.cart-product small {
    font-size: .75rem;
}

.cart-product-delete {
    border: 0;
    background-color: transparent;
    color: var(--red-color);
    cursor: pointer;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
}

.cart-empty-cart {
    border: 0;
    background-color:rgba(214, 204, 204, 0.196);
    padding: .8rem;
    border-radius: 1rem;
    color: var(--main-color);
    text-transform: uppercase;
    cursor: pointer;
}

.cart-actions-rigth {
    display: flex;

}

.cart-actions-total {
    display: flex;
    background-color:rgba(214, 204, 204, 0.196);
    padding: .8rem;
    color: var(--main-color);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.cart-actions-buy {
    border: 0;
    background-color:var(--main-color);
    padding: .8rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;


}
.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}
.disabled {
    display: none;
}


/* Media Queries(Responsive) */
@media screen and (max-width: 950px) {

    .product-container {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
}
@media screen and (max-width: 780px) {

    .product-container {
        grid-template-columns:  1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--main-color);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
       transition:.2s ;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .menu-button.active::before,
    .menu-button.active::after {
        display: none;
    }
    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .product-container {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .header-mobile .logo {
        color:var(--main-color-light);
        
    }

    

    .open-menu, .close-menu {
        background-color: transparent;
        color:black;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }

    .cart-product{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }
    .cart-product-subtotal {
        display: none;
    }

    .cart-actions
{
    flex-wrap: wrap;
    row-gap: 1rem;
}}

@media screen and (max-width: 400px) {

    .product-container {
        grid-template-columns: 1fr;
    }
}