@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Definir variables globales*/
:root {
    --main-color: #16C47F;
    --main-color-light: #59fcbb;
    --yellow-color: #FFD65A;
    --orange-color: #FF9D23;
    --red-color: #F93827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

/*Normalizar elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*Quitanos subrayado por defecto*/
a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--main-color);
}

aside {
    padding: 2rem;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.footer-text {
    color: var(--main-color-light);
    font-size: .85rem;
}

main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

}

.main-title {
    color: var(--main-color);
    margin-bottom: 2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-image {
    max-width: 100%;
    border-radius: 1rem;
}

.product-details {
    background-color: var(--main-color);
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
}